/* common */
html,
body {
    height: 100%;
}
ul,
ol {
    list-style: none;
}
*:focus {
    outline: none;
}
.wrap {
    position: relative;
    padding: 0 0 177px;
    min-height: 100%;
}
.inner {
    margin: 0 auto;
    max-width: 1720px;
}

/* header */
.header {
    position: relative;
    z-index: 20;
    background: #ffffff;
}
.header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.header-util {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transform: translateX(13px);
}
.cell-util {
    position: relative;
}
.cell-util .btn-util {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
}
.cell-util .btn-util:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.cell-util.search .btn-util:after {
    background-image: url('../images/icon/ico_search.png');
}
.cell-util.menu .btn-util:after {
    background-image: url('../images/icon/ico_menu.png');
}
.cell-util.myaccount .btn-util:after {
    background-image: url('../images/icon/ico_user.png');
}
.box-search,
.box-menu {
    position: absolute;
}
.box-search {
    right: 0;
    top: 0;
}
.box-search + .btn-util {
    background: transparent;
    box-shadow: none;
}
.box-search .text {
    width: 40px;
    height: 40px;
    transition: width 0.15s;
}
.box-search.active .text,
.box-search .text:focus {
    padding: 0 40px 0 20px;
    width: 400px;
    border-bottom: 1px solid #d2d2d2;
}
.box-search .btn-search-del {
    display: none;
}
.search-keyword {
    position: absolute;
    top: 70px;
    right: 0;
    padding: 20px;
    width: 400px;
    background: #ffffff;
    box-shadow: 0 3px 7px rgba(0,0,0,0.35);
    border-radius: 28px;
    opacity: 0;
    transition: opacity .15s ease .15s, top .15s ease .15s, z-index .15s ease .15s;
    z-index: -1;
    visibility: hidden;
}
.box-search.active .search-keyword,
.box-search .text:focus + .search-keyword {
    top: 50px;
    opacity: 1;
    z-index: 10;
    visibility: visible;
}
.cell-keyword {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0 0;
}
.cell-keyword:first-child {
    margin: 0;
}
.item-key {
    display: inline-flex;
    align-items: center;
    margin: 0 0 0 10px;
    padding: 0 13px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #b2b2b2;
    border: 2px solid #b2b2b2;
    border-radius: 30px;
}
.item-key:first-child {
    margin: 0;
}

.box-menu {
    display: flex;
    flex-direction: column;
    right: -20px;
    top: 80px;
    padding: 20px;
    width: 230px;
    background: #ffffff;
    border-radius: 14px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    opacity: 0;
    transition: opacity 0.15s, top 0.15s;
    z-index: -1;
    visibility: hidden;
}
.box-menu.active {
    top: 50px;
    opacity: 1;
    z-index: 10;
    visibility: visible;
}
.box-menu:after {
    content: '';
    position: absolute;
    display: block;
    top: -8px;
    right: 32px;
    width: 20px;
    height: 20px;
    background: #ffffff;
    box-shadow: -5px -5px 8px rgba(0,0,0,0.05);
    transform: rotate(45deg);
    z-index: -1;
}
.box-menu .btn-menu {
    margin: 20px 0 0;
    font-size: 14px;
    font-weight: bold;
    color: #555555;
}
.box-menu .btn-menu:first-child {
    margin: 0;
}
.container {
    margin: 0 0 50px;
}

/* head cont */
.menu-swiper {
    position: relative;
}
.menu-swiper .slick-list {
    padding: 0;
}
.menu-swiper .slick-arrow {
    position: absolute;
    top: 0;
    width: 26px;
    height: 26px;
    margin: auto;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 3px 7px rgba(0,0,0,0.32);
    cursor: pointer;
    font-size: 0;
    line-height: 0;
    z-index: 10;
}
.menu-swiper .slick-arrow:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 14px;
    height: 14px;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.menu-swiper .slick-arrow.slick-disabled {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}
.menu-swiper .slick-prev {
    left: 0;
}
.menu-swiper .slick-next {
    right: 0;
}
.menu-swiper .slick-prev:after {
    background-image: url('../images/icon/ico_arrow_left.png');
}
.menu-swiper .slick-next:after {
    background-image: url('../images/icon/ico_arrow_right.png');
}
.menu-moor {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.menu-moor .btn-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 6px;
    padding: 0 6px;
    height: 26px;
    border-radius: 26px;
    font-size: 15px;
    color: #000000;
    background: #fff;
    transition: background 0.15s;
}
.menu-moor .btn-nav:first-child {
    margin: 0;
}

.menu-moor .btn-nav:hover,
.menu-moor .btn-nav.active {
    background: #dddddd;
}

.box-addons {
    margin: 22px 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.addon {
    display: block;
    position: relative;
}
.addon .btn-del {
    position: absolute;
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: -4px -4px 9px rgba(0,0,0,0.16);
}
.addon .btn-del:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 6px;
    height: 6px;
    background: url('../images/icon/ico_close.png');
    background-size: contain;
    opacity: 0.64;
}
.addon.brand {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #f7f7f7;
    box-shadow: 0 3px 7px rgba(0,0,0,0.35);
}
.addon.brand img {
    display: block;
    width: 27px;
    height: 27px;
}
.addon.brand .btn-del {
    right: -2px;
    top: -4px;
}
.addon.related {
    display: flex;
    align-items: center;
}
.addon.related img {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 16px rgba(0,0,0,0.3);
    z-index: 1;
    margin: 0 -25px 0 0;
}
.addon.related .txt-addon {
    display: flex;
    align-items: center;
    padding: 0 0 0 35px;
    height: 26px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 26px;
    background: #ffffff;
    box-shadow: 0 0 16px rgba(0,0,0,0.3);
}
.addon.related .txt-addon em {
    font-style: normal;
}
.addon.related .txt-addon .btn-del {
    position: relative;
    width: 26px;
    height: 26px;
    box-shadow: none;
}
.addon.related.addon.related.addon-keyword .txt-addon {
    padding-left: 16px;
}

/* body cont */
.body-cont {
    margin: 12px 0 0;
}
.stit-cont {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: #000000;
}
.cont-list {
    margin: 0 -8px;
    padding: 0 0 120px;
    /* column-count: 8;
    column-gap: 0; */
}
.img-cell {
    display: block;
    padding: 8px;
    width: 289px;
    /* -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid; */
}
.img-cell figure,
.img-cell a {
    overflow: hidden;
    position: relative;
    display: block;
    box-sizing: border-box;
    transition: box-shadow 0.15s;
    border-radius: 5px;
}
.img-cell figure:after,
.img-cell a:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*border: 1px solid #858585;*/
    transition: opacity 0.5s;
    opacity: 0;
}
.img-cell img {
    transition: transform 0.5s;
}
.img-cell:hover img,
.img-cell.active img {
    transform: scale(1.2);
    box-shadow: 0 4px 18px rgba(0,0,0,0.26);

}
.img-cell:hover figure:after,
.img-cell:hover a:after {
    opacity: 1;
}
.img-cell img {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 100%;
}
.img-cell.tag-cell {
    display: flex;
    flex-direction: column;
}
.img-cell.tag-cell .cell-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    width: 100%;
    height: 30px;
    letter-spacing: 0.06em;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    border: 1px solid #b2b2b2;
    border-radius: 50px;
    transition: background 0.15s;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.img-cell .stit-brand {
    margin: 10px 0 0;
    font-size: 14px;
    font-weight: 600;
}
.img-cell .txt-product {
    margin: 5px 0 0;
    font-size: 12px;
}
.img-cell .btn-del-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 4px;
    width: 60px;
    height: 25px;
    border-radius: 25px;
    font-size: 12px;
    line-height: 25px;
    color: #000000;
    border: 1px solid #b2b2b2;
}

.cont-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.45);
    z-index: 99;

}
.cont-detail .detail-inner {
    overflow: hidden;
    position: relative;
    overflow-y: auto;
    margin: 8px 0 0;
    padding: 20px 20px 0 25px;
    width: 555px;
    border-left: 1px solid #d0d0d0;
    background: #ffffff;
    margin: auto 0;
    height: 80vh;
    border-radius: 10px;
}
.btn-close-detail {
    position: absolute;
    top: 0;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 10;
}
.btn-close-detail:before,
.btn-close-detail:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: rgba(0,0,0,0.4);
}

.btn-close-detail:before {
    transform: rotate(-45deg);
}
.btn-close-detail:after {
    transform: rotate(45deg);
}
.detail-overview {
    overflow: hidden;
    clear: both;
}
.overview-image {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.overview-image .ov-link-img {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 325px;
}
.overview-image .ov-link-img img {
    display: block;
    font-size: 0;
    line-height: 0;
    max-height: 100%;
    width: auto;
    margin: auto;
    border-radius: 5px;
}
.overview-image .ov-nav {
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.overview-image .ov-nav.prev {
    left: 64px;
    background-image: url('../images/icon/ico_arrow_left.png');
}
.overview-image .ov-nav.next {
    right: 64px;
    background-image: url('../images/icon/ico_arrow_right.png');
}

.overview-info {
    padding: 10px 0 0;
}
.ov-info-head {
    display: flex;
    justify-content: flex-end;
}
.ov-info-head .ov-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 232px;
    font-size: 10px;
    color: #000000;
}
.ov-info-head .ov-link span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ov-info-body {
    position: relative;
}
.ov-info-util {
    position: absolute;
    top: 35px;
    right: 0;
    display: flex;
    justify-content: flex-end;
}
.ov-info-util .btn-ov {
    display: block;
    margin: 0 0 0 10px;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transition: background-image 0.15s;
}
.ov-info-util .btn-ov.like {
    background-image: url('../images/icon/ico_wish_blank.png');
}
.ov-info-util .btn-ov.like.active {
    background-image: url('../images/icon/ico_wish_full.png');
}
.ov-info-util .btn-ov.share {
    background-image: url('../images/icon/ico_share.png');
}
.ov-info-body .info-product {
    padding: 20px 0;
}
.ov-info-body .info-product dt a {
    display: block;
    height: 27px;
}
.ov-info-body .info-product dt a img {
    display: block;
    height: 100%;
    font-size: 0;
    line-height: 0;
}
.ov-info-body .info-product dd {
    margin: 10px 0 0;
    font-size: 14px;
    font-weight: bold;
}
.ov-info-body .accr-product {
    position: relative;
    border-bottom: 1px solid #d0d0d0;
}
.ov-info-body .accr-product .btn-accr {
    position: absolute;
    right: 70px;
    top: -50px;
    display: block;
    width: 13px;
    height: 13px;
    background: url(../images/icon/ico_detail_down_arrow.png) no-repeat center center;
    background-size: contain;
    transition: background-image 0.15s;
}
.ov-info-body .accr-product .accr-detail {
    overflow: hidden;
    transition: max-height 0.15s;
}
.ov-info-body .accr-product.active .accr-detail {
}
.ov-info-body .accr-product.active .btn-accr {
    background-image: url('../images/icon/ico_detail_up_arrow.png');
}
.stit-accr {
    font-size: 14px;
    font-weight: bold;
}
.txt-accr {
    margin: 15px 0 0;
    font-size: 12px;
    line-height: 1.5;
    font-weight: bold;
    letter-spacing: -0.05em;
}
.spec-accr {
    margin: 15px 0 20px;
    font-size: 12px;
    font-weight: bold;
    list-style: none;
}
.spec-accr li {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0;
}
.spec-accr li strong {
    margin: 0 0 10px;
    font-size: 12px;
    font-weight: bold;
}
.spec-accr li span {
    font-weight: normal;
}
.stit-detail {
    font-size: 16px;
    font-weight: bold;
}
.detail-dealer {
    padding: 30px 0 20px;
}
.detail-related {
    /* padding: 20px 0; */
}
.detail-list {
    margin: 10px -5px 0;
    width: 520px;
}
.detail-list .img-cell {
    overflow: hidden;
    width: 248px;
    padding: 0;
    margin: 5px;
    border-radius: 4px;
}
.btn-detail-more {
    display: block;
    margin: 20px 0 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}
.detail-dealer  .swiper-container {
    position: relative;
    margin: 18px 0 0;
}
.detail-dealer .slick-track {
    min-width: 520px;
}

.detail-dealer .swiper-slide {
    overflow: hidden;
    margin: 0 10px;
    width: 230px;
    border-radius: 4px;
}
.detail-dealer .swiper-slide:first-child {
    margin-left: 0;
}
.detail-dealer .swiper-slide > a {
    display: block;
}
.detail-dealer .swiper-slide > a img {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 100%;
    height: 150px;
}
.detail-dealer .slick-arrow {
    display: none !important;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 120px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 3px 7px rgba(0,0,0,0.32);
    cursor: pointer;
    font-size: 0;
    line-height: 0;
}
.detail-dealer .slick-arrow:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 22px;
    height: 22px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.detail-dealer .slick-prev {
    left: -60px;
}
.detail-dealer .slick-next {
    right: 10px;
}
.detail-dealer .slick-prev:after {
    background-image: url('../images//icon/ico_arrow_left.png');
}
.detail-dealer .slick-next:after {
    background-image: url('../images//icon/ico_arrow_right.png');
}

.detail-dealer .slick-prev.slick-disabled,
.detail-dealer .slick-next.slick-disabled {
    opacity: 0.77;
}
.detail-dealer .slick-prev.slick-disabled:after,
.detail-dealer .slick-next.slick-disabled:after {
    opacity: 0.2;
}
.detail-dealer .progress {
    display: block;
    margin: 20px auto 0;
    width: 467px;
    height: 3px;
    border-radius: 3px;
    overflow: hidden;

    background-color: #dddddd;
    background-image: linear-gradient(to right, #9e9e9e, #9e9e9e);
    background-repeat: no-repeat;
    background-size: 0 100%;

    transition: background-size .4s ease-in-out;
}
.detail-dealer .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
.info-deal {
    margin: 10px 0 0;
}
.info-deal dt {
    display: flex;
    align-items: center;
    height: 32px;
}
.info-deal dt img {
    display: block;
    font-size: 0;
    line-height: 0;
    max-height: 100%;
}
.info-deal dd {
    margin: 6px 0 0;
    font-size: 12px;
    font-weight: 600;
}
.info-deal dd:first-of-type {
    margin: 12px 0 0;
}

.container.result-nodata {
    background: #f7f7f7;
}
.container.result-nodata:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #f7f7f7;
    z-index: -1;
}
.container.result-nodata .inner {
    max-width: 100%;
}
.container.result-nodata .txt-nodata {
    padding: 80px 0 0;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
}
.container.result-nodata .search-recomm {
    display: flex;
    justify-content: center;
    margin: 70px 0 0;
    padding: 45px 0;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.container.result-nodata .search-recomm ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 600px;
}
.container.result-nodata .search-recomm .btn-search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 10px;
    width: 180px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #b2b2b2;
    font-size: 18px;
    color: #b2b2b2;
}

/* footer */
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 0 0 20px;
    background: #ffffff;
}
.footer .inner {
    border-top: 1px solid #b9b9b9;
}
.head-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 0;
}
.stit-footer {
    font-size: 12px;
    letter-spacing: 0.06em;
    line-height: 1;
    font-weight: 600;
    color: #8b8b8b;
}
.nav-footer {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: bold;
}
.nav-footer a {
    display: block;
    margin: 0 0 0 20px;
    color: #8b8b8b;
}
.cont-footer {
    position: relative;
    margin: 20px 0 30px;
}
.txt-footer {
    display: flex;
    align-items: center;
    margin: 8px 0 0;
    font-size: 8px;
    line-height: 1.2;
    color: #8b8b8b;
}
.txt-footer span {
    margin: 0 0 0 20px;
}
.txt-footer:first-of-type,
.txt-footer span:first-child {
    margin: 0;
}
.btn-foot-sns {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 14px;
    height: 14px;
    background: url('../images/icon/ico_instagram.png') no-repeat center center;
    background-size: cover;
}
.foot-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 8px;
    line-height: 1.2;
}
.foot-footer > * {
    color: #8b8b8b;
    font-style: normal;
}

/* popup */
.popWrap {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.3);
    z-index: 20;
    transition: transform 0.15s;
    transform: scale(0);
}
.popWrap.active {
    transform: scale(1);
}
.popCont {
    padding: 20px;
    width: 400px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 18px rgba(0,0,0,0.26);
    opacity: 0;
    margin: 20px 0 0;
    transition: opacity .15s ease .15s, margin .3s ease .15s;
}
.popWrap.active .popCont {
    margin: 0;
    opacity: 1;
}
.popHead {
    position: relative;
    padding: 28px 20px 0;
}
.popCont.popAlert .popHead {
    padding: 28px 20px;
}
.stit-pop {
    font-family: 'NotoSansKR';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.stit-pop.sm {
    font-family: 'NotoSansKR';
    font-size: 16px;
    font-family: 'NotoSansKR';
}
.txt-pop {
    font-family: 'NotoSansKR';
    font-size: 14px;
}
.popHead .btn-close {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: -10px;
    right: -10px;
}
.popHead .btn-close:before,
.popHead .btn-close:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1px;
    height: 16px;
    margin: auto;
    background: rgba(0,0,0,0.9);
}
.popHead .btn-close:before {
    transform: rotate(45deg);
}
.popHead .btn-close:after {
    transform: rotate(-45deg);
}
.popBody {
    padding: 20px 30px 30px;
}

.box-login {
    display: flex;
    flex-direction: column;
}
.btn-login {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0;
    width: 100%;
    height: 50px;
    font-size: 12px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.btn-login:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
}
.btn-login.naver {
    background: #00c73c;
}
.btn-login.naver:before {
    background-image: url('../images/icon/ico_naver.png');
}
.btn-login.kakao {
    background: #fddc3f;
}
.btn-login.kakao:before {
    background-image: url('../images/icon/ico_kakaotalk.png');
}
.btn-login.facebook {
    background: #4e71a8;
}
.btn-login.facebook:before {
    background-image: url('../images/icon/ico_facebook.png');
}
.btn-login.google {
    background: #f5f5f5;
}
.btn-login.google:before {
    background-size: contain;
    background-image: url('../images/icon/ico_google.png');
}
.box-share {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0;
}
.btn-share {
    position: relative;
    display: block;
    width: 60px;
    padding: 70px 0 0;
    font-size: 10px;
    color: #000000;
    text-align: center;
}
.btn-share:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.btn-share.pin:before {
    background-image: url('../images/icon/ico_pin.png');
}
.btn-share.twitter:before {
    background-image: url('../images/icon/ico_twitter.png');
}
.btn-share.kakao:before {
    background-image: url('../images/icon/ico_kakaotalk.png');
}
.btn-share.facebook:before {
    background-image: url('../images/icon/ico_facebook.png');
}
.txt-share {
    display: none;
}

.popFoot {
    margin: 40px 0 30px;
    display: flex;
    justify-content: space-around;
}
.btn-pop {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 40px;
    border-radius: 40px;
    background: #b2b2b2;
    color: #ffffff;
    font-size: 13px;
    font-weight: 300;
}

/* Forwarding */
.forwarding {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;
    background: #f7f7f7;
}
.forwarding .contForward {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 180px 0;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.contForward .tit-forward {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
}
.contForward .txt-forward {
    position: relative;
    padding: 45px 0 0;
    margin: 45px 0 0;
    text-align: center;
}
.contForward .txt-forward::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 6px;
    background: #f7f7f7;
}
.contForward .txt-forward dt {
    margin: 0 0 30px;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    line-height: 1.5;
}
.contForward .txt-forward dd {
    font-size: 18px;
    line-height: 2;
    color: #8c8c8c;
}
.contForward .txt-forward dd:first-of-type {
    margin: 0 0 10px;
}
.forwarding .copyright {
    display: block;
    margin: 18px 0 0;
    font-size: 12px;
    font-style: normal;
    color: #cfcfcf;
}

/* Terms */
.tab-terms {
    display: flex;
    border-bottom: 2px solid #cfcfcf;
}
.tab-terms .btn-tab {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -2px;
    width: 250px;
    height: 50px;
    font-size: 16px;
    color: #8b8b8b;
    font-weight: bold;
    border: 2px solid #cfcfcf;
    border-radius: 5px;
    transition: background 0.15s,
                color 0.15s;
}
.tab-terms .btn-tab:hover,
.tab-terms .btn-tab.active {
    color: #ffffff;
    background: #cfcfcf;
}
.cont-terms {
    padding: 50px 50px 150px;
}
.stit-terms {
    margin: 20px 0 10px;
    font-size: 18px;
    border-bottom: 1px solid transparent;
}
.stit-terms:first-of-type {
    margin-top: 0;
}
.txt-terms {
    margin: 10px 0 0;
    font-size: 16px;
    line-height: 1.5;
}

/* mobile */
@media screen and (max-width: 767px) {
    /* common */
    html,
    body {
        font-size: 10px;
    }
    body.lock-scroll {
        overflow: hidden;
    }
    img {
        width: 100%;
    }
    .wrap {
        overflow: hidden;
        padding: 12vw 0 59.323vw;
    }
    .inner {
        width: 100vw;
        padding: 0 2.415vw;
    }
    /* header */
    .header {
        position: fixed;
        width: 100%;
        height: 12vw;
        top: 0;
        left: 0;
    }
    .header-util {
        transform: translateX(0);
    }
    .header .inner {
        padding: 2.415vw 4.831vw;
    }
    .header .inner .logo {
        width: 13.04vw;
    }
    .cell-util {
        margin: 0 0 0 3.623vw;
    }
    .cell-util .btn-util {
        width: 3.331vw;
        height: 3.331vw;
        background: transparent;
        box-shadow: none;
    }
    .cell-util .btn-util:after {
        width: 3.331vw;
        height: 3.331vw;
    }
    .cell-util.myaccount {
        display: none;
    }
    .box-search .text {
        width: 3.331vw;
        height: 3.331vw;
        box-shadow: none;
    }
    .box-menu {
        position: fixed;
        top: 15rem;
        left: 0;
        right: 0;
        padding: 4.831vw 14.193vw;
        border-radius: 0;
        width: 100%;
        background: rgba(255,255,255,0.95);
        transform: translateX(-78vw);
        width: 100vw;
    }
    .box-menu:after {
        display: none;
    }
    .box-menu .btn-menu {
        padding: 4.831vw 0;
        margin: 0;
        font-size: 1.8rem;
    }
    .box-menu.active {
        top: 7.077vw;
    }
    /* content */
    .container {
        margin: 0 0 24.155vw;
    }
    .menu-moor {
        /* padding: 4.83vw 0 0; */
    }
    .menu-moor .btn-nav {
        width: 18.116vw;
        height: 6.28vw;
        border-radius: 6.28vw;
        font-size: 3.623vw;
    }
    .menu-swiper .slick-list {
        padding: 0;
    }
    .menu-swiper .slick-arrow {
        top: 0;
        width: 6.28vw;
        height: 6.28vw;
    }
    .menu-swiper .slick-arrow:after {
        width: 2.657vw;
        height: 2.657vw;
    }
    .cont-list {
        padding: 0 0 9.662vw;
        margin: 0 -1.208vw;
        column-count: 2;
    }
    .body-cont {
        margin: 0;
    }
    .stit-cont {
        margin: 3.623vw 0 2.63vw;
        font-size: 2rem;
    }
    .img-cell {
        padding: 1.207vw;
        width: 48.792vw
    }
    .img-cell.tag-cell .cell-tag {
        margin: 0.966vw 0;
        height: 6.763vw;
        border-radius: 6.762vw;
        font-size: 1.2rem;
    }
    .img-cell .stit-brand {
        margin: 2.415vw 0 0;
        font-size: 1.4rem;
    }
    .img-cell .txt-product {
        margin: 1.208vw 0 0;
        font-size: 1rem;
    }
    .img-cell .btn-del-cell {
        margin: 1.415vw 0 0.966vw;
        width: 14.493vw;
        height: 6.039vw;
        border-radius: 6.039vw;
        font-size: 1.2rem;
    }
    .box-addons {
        margin: 2.415vw 0 0;
    }
    .addon.brand {
        width: 9.662vw;
        height: 9.662vw;
        box-shadow: 0 .725vw 1.691vw rgba(0,0,0,0.35);
    }
    .addon.brand img {
        width: 7.729vw;
        height: 7.729vw;
    }
    .addon .btn-del {
        width: 3.623vw;
        height: 3.623vw;
    }
    .addon .btn-del:after {
        width: 1.449vw;
        height: 1.449vw;
    }
    .addon.brand .btn-del {
        top: 0;
        right: -1.932vw;
    }
    .addon.related img {
        margin: 0 -1.208vw 0 0;
        width: 12.077vw;
        height: 12.077vw;
    }
    .addon.related .txt-addon {
        padding: 0 1.208vw 0 2.415vw;
        width: 28.986vw;
        height: 7.246vw;
        font-size: 1rem;
        border-radius: 7.246vw;
    }
    .addon.related .txt-addon em {
        overflow: hidden;
        display: block;
        /*width: calc(100% - 2.415vw);*/
        width: calc(100%);
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .addon.related .txt-addon .btn-del {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 2.415vw;
        margin: auto;
        width: 2.415vw;
        height: 2.415vw;
    }
    .addon.related.addon-keyword .txt-addon {
        padding: 0 4.831vw;
        width: auto;
        height: 6.077vw;
        border-radius: 6.077vw;
        font-size: 1.6rem;
    }
    .addon.related.addon-keyword .btn-del {
        width: 2.426vw;
        height: 2.426vw;
    }
    .addon.related.addon-keyword .btn-del:after {
        width: 2.415vw;
        height: 2.415vw;
    }
    .body-cont.show-detail .cont-list {
        column-count: 2;
        width: 100vw;
    }
    .cont-detail {
        display: block;
        position: static;
    }
    .cont-detail .detail-inner {
        position: fixed;
        left: 0;
        top: 11.077vw;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: calc(100vh - 11.077vw);
        background: #ffffff;
        z-index: 10;
    }
    .btn-close-detail {
        right: 0;
        width: 9.662vw;
        height: 9.662vw;
    }
    .body-cont.show-detail .cont-detail {
        left: 0;
    }
    .overview-image .ov-link-img {
        width: 75.894vw;
    }
    .overview-image .ov-nav {
        width: 3.623vw;
        height: 3.623vw;
    }
    .overview-image .ov-nav.prev {
        left: 4.831vw;
    }
    .overview-image .ov-nav.next {
        right: 4.831vw;
    }
    .overview-info {
        padding: 2.415vw 0 0;
    }
    .ov-info-head {
        margin: 0 4.831vw;
        padding: 0;
    }
    .ov-info-head .ov-link {
        width: 43.478vw;
        height: auto;
    }
    .ov-info-head .ov-link span {
        font-size: 1rem;
    }
    .ov-info-head .btn-ov {
        width: 4.831vw;
        height: 4.831vw;
        margin: 0 0 0 2.415vw;
    }
    .ov-info-util {
        right: 4.831vw;
    }
    .ov-info-body .info-product {
        padding: 0;
        margin: 2.415vw 4.841vw 0;
    }
    .ov-info-body .info-product dt a {
        height: 3.865vw;
    }
    .ov-info-body .info-product dt a img {
        width: auto;
    }
    .ov-info-body .info-product dd {
        font-size: 1.2rem;
    }
    .ov-info-body .accr-product {
        position: relative;
        border: none;
        border-width: 0.242vw;
    }
    .ov-info-body .accr-product:after {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 90.338vw;
        height: 0.242vw;
        background: #d0d0d0;
    }
    .ov-info-body .accr-product .btn-accr {
        width: 2.415vw;
        height: 2.415vw;
        right: 12.077vw;
        top: -7.246vw;
    }
    .ov-info-body .accr-product .accr-detail {
        padding: 0 4.831vw;
    }
    .ov-info-body .accr-product.active .accr-detail {
        padding-top: 4.831vw;
        padding-bottom: 4.831vw;
        border-width: 0.242vw;
    }
    .stit-accr {
        font-size: 1.6rem;
    }
    .txt-accr {
        margin: 4.348vw 0 0;
        font-size: 0.8rem;
    }
    .spec-accr {
        margin: 2.415vw 0 0;
        font-size: 1rem;
    }
    .spec-accr li {
        margin: 4.831vw 0 0;
    }
    .detail-dealer {
        padding: 4.831vw 0 7.246vw 4.831vw;
        border-width: 0.242vw;
    }
    .stit-detail {
        font-size: 1.6rem;
    }
    .detail-dealer .swiper-container {
        margin: 4.348vw 0 0;
    }
    .detail-dealer .slick-track {
        min-width: 98.75vw;
    }
    .detail-dealer .swiper-slide {
        margin: 0 1.208vw;
        width: 33.816vw;
    }
    .info-deal {
        margin: 2.415vw 0 0;
    }
    .info-deal dd {
        margin: 1.449vw 0 0;
        font-size: 1rem;
    }
    .info-deal dd:first-of-type {
        margin: 2.899vw 0 0;
    }
    .detail-dealer .slick-prev,
    .detail-dealer .slick-next {
        top: 16.908vw;
        width: 7.246vw;
        height: 7.246vw;
        z-index: 10;
    }
    .detail-dealer .slick-prev:after,
    .detail-dealer .slick-next:after {
        width: 3.623vw;
        height: 3.623vw;
    }
    .detail-dealer .slick-prev {
        left: -2.415vw;
    }
    .detail-dealer .slick-next {
        right: 7.246vw;
    }
    .detail-dealer .progress {
        display: none;
    }
    .detail-related {
        padding: 0 4.831vw;
    }
    .detail-list {
        margin: 2.415vw 0;
        height: auto !important;
        width: 90.338vw;
        column-count: 2;
    }
    .detail-list .img-cell {
        position: static !important;
        margin: 1.207vw;
        width: 42.536vw;
        margin: 4vw 0;
    }
    .detail-list .img-cell:first-of-type {
        margin-top: 0;
    }
    .btn-detail-more {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 24.155vw;
        height: 7.246vw;
        font-size: 3.864vw;
    }
    /* footer */
    .footer {
        padding: 4.831vw 0;
    }
    .footer .inner {
        margin: 0 4.831vw;
        padding: 0;
        width: 90.338vw;
    }
    .head-footer {
        padding: 4.831vw 0 0;
    }
    .stit-footer {
        font-size: 1.2rem;
    }
    .nav-footer {
        font-size: 0.8rem;
    }
    .nav-footer a {
        margin: 0 0 0 2.415vw;
    }
    .cont-footer {
        margin: 4.831vw 0 2.415vw;
    }
    .txt-footer {
        width: 75vw;
        font-size: 0.8rem;
    }
    .txt-footer span {
        margin: 0 0 0 2.415vw;
    }
    .foot-footer {
        padding: 4.831vw 0 0;
        font-size: 0.8rem;
    }
    .btn-foot-sns {
        width: 2.899vw;
        height: 2.899vw;
        opacity: 0.8;
    }
    .btn-foot-sns:after {
        width: 5.072vw;
        height: 5.072vw;
    }
    /* popup */
    .popWrap {
        width: 100vw;
        height: 100vh;
    }
    .popCont {
        padding: 4.831vw;
        border-radius: 2.415vw;
        width: 92.227vw;
    }
    .popHead {
        padding: 5.556vw 4.831vw 0;
    }
    .popCont.popAlert .popHead {
        padding: 6.763vw 4.831vw;
    }
    .popHead .btn-close {
        width: 4.831vw;
        height: 4.831vw;
    }
    .stit-pop {
        font-size: 1.6rem;
    }
    .stit-pop.sm {
        font-size: 1.6rem;
    }
    .txt-pop {
        font-size: 1rem;
        text-align: center;
    }
    .popBody {
        padding: 4.831vw 7.246vw 7.246vw;
    }
    .btn-login {
        margin: 2.415vw 0 0;
        height: 11.111vw;
        font-size: 1rem;
    }
    .btn-login:before {
        width: 11.111vw;
        height: 11.111vw;
    }
    .box-share {
        padding: 0 2.415vw;
    }
    .btn-share {
        padding: 12.077vw 0 0;
        width: 12.077vw;
        height: 12.077vw;
        font-size: 0;
        line-height: 0;
        box-shadow: 0 .483vw 2.415vw rgba(0,0,0,0.1);
        border-radius: 50%;
    }
    .btn-share:before {
        width: 12.077vw;
        height: 12.077vw;
    }
    .txt-share {
        display: block;
        padding: 7.246vw 2.415vw 0;
        font-family: 'NotoSansKR';
    }
    .txt-share dt {
        font-size: 1.2rem;
        font-weight: bold;
    }
    .txt-share dd {
        margin: 1.208vw 0 0;
        font-size: 1.1rem;
    }
    .txt-share dd a {
        display: block;
        padding: 0 0 1.208vw;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #555555;
        border-bottom: 2px solid #d5d5d5;
    }
    .popFoot {
        margin: 7.246vw 0 4.831vw;
    }
    .btn-pop {
        width: 26.57vw;
        height: 9.662vw;
        border-radius: 9.662vw;
        font-size: 1.3rem;
    }
    .cell-util.search {
        display: flex;
        align-items: center;
    }
    .box-search {
        position: static;
        margin: 0 2vw 0 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        background: rgba(255,255,255,0.95);
        border-bottom: 0.483vw solid #cfcfcf;
    }
    .box-search.active {
        top: 12.077vw;
        opacity: 1;
        visibility: visible;
        z-index: 10;
        width: 48.809vw;
    }
    .box-search .text {
        display: block;
        padding: 0;
        height: 4.841vw;
        width: 0;
        font-size: 3.123vw;
        background: none;
        border-radius: 0;
    }
    .box-search.active .text,
    .box-search .text:focus {
        padding: 2.415vw;
        width: 48.809vw;
        border: none;
    }
    .box-search .btn-search-del{
        position: absolute;
        display: block;
        top: 0.623vw;
        right: 7.246vw;
        width: 2.899vw;
        height: 2.899vw;
        background: url('../images/icon/ico_close.png') no-repeat center center;
        background-size: contain;
        visibility: hidden;
    }
    .box-search .text:focus ~ .btn-search-del {
        visibility: visible;
    }
    .search-keyword {
        display: none;
        position: static;
        opacity: 1;
        z-index: 10;
        margin: 4.831vw 0 0;
        box-shadow: none;
        width: 100%;
        padding: 0;
    }
    .box-search.active .search-keyword {
        visibility: visible;
    }
    .cell-keyword {
        margin: 4.831vw 0 0;
    }
    .item-key {
        padding: 0 3.14vw;
        height: 14.493vw;
        border-radius: 14.493vw;
        font-size: 1.6rem;
    }
    .container.result-nodata {
        padding: 0 0 48.309vw;
        background: #ffffff;
    }
    .container.result-nodata:after {
        background: #ffffff;
    }
    .container.result-nodata .inner {
        padding: 0;
    }
    .container.result-nodata .txt-nodata {
        padding: 12.077vw 0 0;
        font-size: 1.4rem;
    }
    .container.result-nodata .search-recomm {
        margin: 7.246vw 0 0;
        padding: 7.246vw 0;
        background: #f7f7f7;
    }
    .container.result-nodata .search-recomm ul {
        justify-content: center;
        flex-wrap: wrap;
    }
    .container.result-nodata .search-recomm .btn-search {
        padding: 0 2.415vw;
        margin: 2.415vw 1.208vw;
        height: 9.662vw;
        width: 28.986vw;
        font-size: 1.6rem;
    }
    /* terms */
    .tab-terms {
        margin: 0 2.415vw;
        border-width: 0.483vw;
    }
    .tab-terms .btn-tab {
        margin-bottom: -0.483vw;
        width: 36.232vw;
        height: 9.662vw;
        font-size: 1.2rem;
        border-width: 0.483vw;
        border-radius: 1.208vw;
        font-weight: normal;
    }
    .cont-terms {
        padding: 4.831vw 2.415vw;;
    }
    .stit-terms {
        margin: 5.797vw 0 0;
        font-size: 1.4rem;
    }
    .txt-terms {
        margin: 2.415vw 0 0;
        font-size: 1.2rem;
    }
    /* forwarding */
    .forwarding .contForward {
        padding: 43.478vw 7.246vw 36.232vw;
        align-items: flex-start;
    }
    .contForward .tit-forward {
        font-size: 2.4rem;
    }
    .contForward .txt-forward {
        margin: 4.831vw 0 0;
        padding: 10.87vw 0 0;
        text-align: left;
        font-family: 'NotoSansKR';
    }
    .contForward .txt-forward::before {
        width: 100%;
        height: 0.966vw;
    }
    .contForward .txt-forward dt {
        font-size: 1.6rem;
    }
    .contForward .txt-forward dd {
        margin: 0 0 4.831vw;
        font-size: 1.4rem;
    }
    .contForward .txt-forward dd:first-of-type {
        margin: 0 0 4.831vw;
    }
    .contForward .txt-forward dd strong {
        font-weight: normal;
    }
    .contForward .txt-forward dd br {
        display: none;
    }
}

@media screen and (min-width: 1432px) and (max-width: 1719px) {
    .inner {
        max-width: 1432px;
    }
}
@media screen and (min-width: 1142px) and (max-width: 1431px) {
    .inner {
        max-width: 1142px;
    }
}
@media screen and (min-width: 853px) and (max-width: 1142px) {
    .inner {
        max-width: 853px;
    }
}
